.BrainhubFileInput__wrapper {
  border: 1px ;
}

.BrainhubFileInput__wrapper--selected {
  border: 1px solid #000;
}

.BrainhubFileInput__input--hidden {
  display: none;
}

.BrainhubFileInput__dropInfo--hidden {
  display: none;
}
