.brainhub-file-input__wrapper {
  border: 1px ;
}

.brainhub-file-input__wrapper--selected {
  border: 1px solid #000;
}

.brainhub-file-input__input--hidden {
  display: none;
}

.brainhub-file-input__dropInfo--hidden {
  display: none;
}
