@import 'global';

.brainhub-file-input__wrapper {
  width: 25%;
}

.brainhub-file-input__input--hidden {
  display: none;
}

.brainhub-file-input__label {
  font-size: 16px;
  line-height: 18px;
  color: $BROWN_GRAY;
  margin-bottom: 4px;
}

.brainhub-file-input__fileInfo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-areas: "image metadata";
  width: 300px;
  margin: 2px;
}
