.brainhub-file-input__metadata {
  grid-area: metadata;
  display: flex;
  font-size: 0.8em;
  width: 500px;
  height: 25px;
  margin: 5px;

  .brainhub-file-input__metadata__info{
      text-align: left;
      margin: auto;
      margin-left: 5px;
      margin-right: 0px;
  }

  .brainhub-file-input__metadata__info_name {
    font-weight: bold;
  }
}
