@import "global";

.brainhub-text-field {
  margin: 4px 0;
}

.brainhub-text-field__label {
  font-size: 16px;
  line-height: 18px;
  color: $BROWN_GRAY;
  margin-bottom: 4px;
}

.brainhub-text-field__input {
  font-size: 16px;
  border-radius: 5px;
  padding: 8px 10px;
  border: 1px solid $NEUTRAL_GRAY;
  width: calc(100% - 22px);
}

.brainhub-text-field__input::placeholder {
  color: $NEUTRAL_GRAY;
}
